__pycache__/

build/
dist/
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg

htmlcov/
.tox/
.coverage
.coverage.*
.cache

.pytest_cache/

.env
.venv
env/
venv/

.mypy_cache/

.ruff_cache/

.DS_Store
